{% extends 'layout.html' %}  

{% block content %}
    <section class="header">
        <h1>Chelsea Rumsey</h1>
        <p>My current goal is to transition into the tech space after a 15-year social work career.</p>
        <img src="../static/ChelsandMax.jpg" alt="Headshot of myself and mini goldendoodle Max">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>A Little About Me</h2>
        <p>
            Making the switch from social work to programming
            may seem like a big leap, but learning to code has 
            allowed me to combine my love of helping people 
            discover solutions to their own problems with my 
            passion for solving puzzles. 
        </p>
        <p>
            When I'm not coding in Python or JavaScript, I love 
            playing the piano, quoting movies, cooking anything, 
            hanging out at the lake, and having fun with my awesome 
            wife, Mel, and puppy dog, Max. Mel and I are avid Star 
            Trek geeks, Houston Astros baseball fans, and fantasy 
            novel junkies.
        </p>
        <a href="https://1drv.ms/w/s!AnA1iHUP48clg2esd58KtLtpOa2C?e=4mwWB1"  target = "_blank"><i class="far fa-file"></i>Resume</a>
    </section>
{% endblock %}