{% extends 'layout.html' %}

{% block content %}
    <section class="header">
        <h1>Python Developer</h1>
        <p>If, at first, you do not succeed, call it version 1.0. ― Khayri R.R. Woulfe</p>
        <img src="../static/Headshot.jpg" alt="Headshot of myself">
    </section>
    <section id="about">
        <h2>About Me</h2>
        <p>
            I am a master social worker turned developer! 
            Learning to code has allowed me to combine 
            my love of helping people solve problems 
            with my passion for solving puzzles. When I'm 
            not coding, I love playing the piano, cooking,
            enjoying nature, and hanging out with my awesome 
            wife and puppy dog.
        </p>
        <div id="triangle1"></div>
        <div id="triangle2"></div>
    </section>
    <section id="skills">
        <i class="fas fa-laptop-code"></i>
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
            <li>GitHub</li>
            <li>Visual Studio Code</li>
        </ul>
    </section>
    <section id="projects">
        <div id="triangle3"></div>
        <i class="fas fa-file-code"></i>
        <h2>Projects</h2>
        <div id="project-list">
            {% for project in projects %}
                <div id="project1" class="a-project">
                    <a href="{{ url_for('detail', id=project.id) }}"><h3>{{ project.title }}</h3></a>
                    <a href="{{ project.url }}" target = "_blank" class="github-btn">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <p>
                        {{ project.description }} 
                    </p>
                    <p>
                        {{ project.skills }} 
                    </p>
                </div>
            {% endfor %}
        </div>
        <div id="triangle4"></div>
    </section>
    <section id="contact">
        <i class="fas fa-paper-plane"></i>
        <h2>Contact Me</h2>
        <div class="socials">
            <ul>
                <li><a href="https://github.com/chelsearumsey" target = "_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
                    GitHub Repositories
                </li>
                <li><a href="https://linkedin.com/in/chelseamrumsey" target = "_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>  
                    LinkedIn Profile
                </li>
                <li><i class="fas fa-envelope fa-2xl"></i>
                    chelseamrumsey@gmail.com
                </li>
                <li><i class="fa-brands fa-discord fa-2xl"></i>
                    Old_Skool#1984
                </li>
            </ul>
        </div>
    </section>
{% endblock %}       